Flask==1.1.1
google-images-download==2.8.0
opencv-python==4.1.2.30
tensorboard==1.14.0
tensorflow==1.15.4
tensorflow-estimator==1.14.0
Werkzeug==0.16.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
numpy==1.17.3
h5py==2.10.0
glob3
regex
