<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>De Madrid al Cielo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<img class="at" src="./static/AT.jpg" width="20"/><br/>

<a class="boton1" href="https://faable.com/" target="_blank"> 
    Visita Faable </a><br/>    

    <div class="card">

        <h2> De Madrid al Cielo </h2>
            
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="archivo">
            <input type="submit">
        </form>

    </div>
    
</body>
</html>


